{% extends 'base.html' %}

{% block title %} Лингвистическое исследование {% endblock %}

{% block content %}
    <h1>Здравствуйте!</h1>
    <p> Здесь Вы можете ознакомиться с информацией об исследовании.</p>
    <p>Я - маленький ничем не примечательный лингвист, которому взбрело в голову поисследовать транспорт. </p>
    <p>Не спрашивайте, почему, пожалуйста.</p>
    <p>Если у вас есть минутка, пройдите, пожалуйста, опрос.</p>
    <p>И не волнуйтесь.</p>
    <p>После прохождения опроса никто не начнет за вами следить.</p>
    <p>Тик-так</p>
    <p><i>Обернитесь.</i></p>
{% endblock %}