{% extends 'base.html' %}
{% set active_page = "result" %}
{% block title %} Статистика {% endblock %}
{% block content %}
<h1>Результаты</h1>
<p></p>
<h3>Данные о респондентах:</h3>
    <p></p>
    <h4>{{ da_data['age_mean'] }} лет </h4>
        <p>составляет средний возраст респондентов </p>

    <h4>{{ da_data['age_min'] }} лет </h4>
        <p>составляет возраст самого младшего респондента </p>

    <h4>{{ da_data['age_max'] }} лет </h4>
        <p>составляет возраст самого старшего респондента </p>

    <h4>От {{ da_data['freq_min'] }} до {{ da_data['freq_max'] }} раз в неделю </h4>
        <p>респонденты пользуются транспортом</p>

    <h4>Среди респондентов: </h4>
        <p> - {{ da_data['school'] }} школьников</p>
        <p> - {{ da_data['student'] }} студентов</p>
        <p> - {{ da_data['work'] }} работающих людей</p>
        <p> - {{ da_data['pension'] }} пенсионеров</p>

<p></p>
<h3>Данные о результатах:</h3>
    <h4> {{ da_data['means_name'] }} является самым часто используемым видом транспорта</h4>
        <p>Его выбрали {{ da_data['means_num'] }} раз.</p>

    <h4> {{ da_data['happy'] }} людям </h4>
        <p> нравится пользоваться транспортом </p>

    <h4> {{ da_data['popular'] }} является самым любимым видом транспорта</h4>
        <p> Его выбрали {{ da_data['persons'] }} раз. </p>

{% endblock %}